body {
    background-color: gold;
}
header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {    
    display: inline-block;
    font-size: 48px;
}

header h2 {    
    display: inline-block;
    font-size: 30px;
    margin-left: 15px;
}

header section {
    float: right;
    padding-top: 15px;
    background-color: gold
}

header section ul{
    list-style-type: none;
}

header section ul li{
    display: inline-block;
    padding: 25px;
    font-size: 20px;
}

header section ul li a {
    text-decoration: none;
    color: black;
}

section {
    background-color: white;
}

footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer section {
    background-color: gold
}

footer section ul {
    list-style-type: none;
}

footer section ul li {
    display: inline-block;
}

footer section ul li a {
    text-decoration: none;
    color: black;    
}