
* {
    font-family: 'Franklin Gothic Medium';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 15px 0px;
    background-color: #FFC904;
}

h1 {
    font-size: 52px;
}

header nav ul,
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav li {
    display: flex;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

header nav a,
footer nav a {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 2px 5px 5px black;
}

nav a:hover {
    background-color: black;
    color: #FFC904;
    box-shadow: 2px 5px 5px silver;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url(../images/ucf-building.webp);
    background-size: cover;
    background-position: center;
}

#about-me,
#technical-skills,
#projects {
    display: flex;
    flex: wrap;
}

#about-me aside,
#technical-skills aside,
#projects aside {
    flex: 1;
    margin: 25px 0px;
    padding: 10px 0px;
    text-align: center;
    border-right: 25px double #FFC904;
}

#about-me h2,
#technical-skills h2,
#projects h2 {
    font-size: 40px;
}

#about-me section,
#technical-skills section,
#projects section {
    flex: 5;
    padding: 10px;
    text-align: center;
}

#about-me section p {
    font-family: sans-serif;
    font-size: 24px;
    padding: 5px;
}

#technical-skills section ul {
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex: 1 1 0;
}

#technical-skills section ul li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    list-style-type: none;
    width: 160px;
    padding: 15px 15px;
    margin: 5px 40px;
}

.main-project {
    display: flex;
    flex-wrap: wrap;
}

.mp-card {
    padding: 2%;
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
}
.mp-image a {
    display: flex;
    flex-wrap: wrap;
}
.mp-image img {
    max-width: 100%;
}

.mp-info {
    margin-top: auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects-card {
    padding: 2%;
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
}
.projects-image a {
    display: flex;
    flex-wrap: wrap;
}
.projects-image img {
    max-width: 100%;
}

.projects-info {
    margin-top: auto;
}

footer {
    justify-content: space-evenly;
}

h3 {
    font-size: 30px;
}

@media screen and (max-width: 1000px) {

    #about-me,
    #technical-skills,
    #projects {
        flex-direction: column;
    }

    #about-me aside,
    #technical-skills aside,
    #projects aside {
        order: 0;
        border-bottom: 25px double #FFC904;
        border-right: none;
    }
}